//Created by LocNT on 7/22/2014 3:00 AM.
extends ../layout
block content
    .container-fluid
        if (result != null)
            .row
                .form-control= result

        .row
            form#loginForm(action="saveAccount",method="post")
                .form-control
                    label(for="#fullname")="fullname : "
                    input#fullname(type="text",name="fullname",value=account.fullname)
                .form-control
                    label(for="#username")="email : "
                    input#email(type="text",name="email",value=account.email)
                .form-control
                    label(for="#username")="username : "
                    input#username(type="text",name="username",value=account.username)
                .form-control
                    label(for="#password")="password : "
                    input#password(type="password",name="password",value=account.password)
                .form-control
                    input#username(type="submit" value="save")